header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  height: 500px;
  background-color: #e66318;
  padding-top: 120px;
  margin: 2em;
  margin-top: 160px;
}

.name h2{
  margin-top: 0px
}