article {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  padding: 15px;
  border: 2px solid;
}

.tweet-footer {
  display: flex;
  justify-content: space-between;
}

article:hover {
  box-shadow: 10px 10px #afbbe3;
  transition: box-shadow 0.3s ease-in;
}

hr {
  border: 2px solid;
  margin: auto;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}


.tweet-avatar {
  display: flex;
  justify-content: space-between; 
  align-items: center;
}

h5 {
  margin: 0;
}

.left-side {
  display: flex;
  align-items: center;
}

.left-side img {
  padding-right: 10px;
}

.left-side p {
  margin: 0;
}

.handle {
  color: rgb(131, 127, 127);
}

.tweet-body {
  padding: 0 5px 0 5px;
}

.buttons :hover {
  color: #cfb10c;
}