article {
  margin-top: 50px;
  padding: 15px;
  border: 2px solid;
}

.tweet-footer {
  display: flex;
  justify-content: space-between;
}

article:hover {
  box-shadow: 10px 10px #afbbe3;
  transition: box-shadow 0.3s ease-in;
}

hr {
  border: 2px solid;
  margin: auto;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}


.avatar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.left-side {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.left-side img {
  padding-right: 10px;
}

.handle {
  color: rgb(131, 127, 127);
}

.tweet-body {
  padding: 0 5px 0 5px;
}

.buttons :hover {
  color: #cfb10c;
}